<?xml version="1.0" ?>

<world name="grip_world" gravity="0.0 0.0 -9.81">

	<!-- First sim world-->
	<robot name="gripBot1">
		<model dir="resources" path="gripBot.urdf" name="gripBot" />
		<origin xyz="0.0 0.5 0.0" rpy="0 0 0" />
	</robot>

	<static_object name="table">
		<origin xyz="0.0 0.0 0.5" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="0.5 3.0 0.1" />
	        </geometry>
	    </collision>
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" /> <!-- SEE ME why doesn't the visual origin match the real one?-->
	        <geometry>
	            <box size="0.5 3.0 0.1" />
	        </geometry>
	        <material name="material_green">
		        <color rgba="0.0 0.5 0.0 1.0" />
	        </material>
	    </visual>
	</static_object>

	<static_object name="fixedFinger">
		<origin xyz="0.0 -0.5 0.0" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="0.5 0.1 0.1" />
	        </geometry>
	    </collision>
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
                <cylinder radius="0.1" length="0.5"/>
            </geometry>
	        <material name="material_white">
		        <color rgba="0.5 0.5 0.5 1.0" />
	        </material>
	    </visual>
	</static_object>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="4.0 0.0 4.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</camera>

</world>